[Desktop Entry]
Version=1.0
Name=TerminaldenKurtulun
Encoding=UTF-8
Comment=Terminalden kurtulun! Son kullanıcı için basitleştirildi.
Path=/usr/local/bin/TerminaldenKurtulun
Exec=python                               /usr/local/bin/TerminaldenKurtulun/baslat.py
Icon=/usr/local/bin/TerminaldenKurtulun/tk.png
Terminal=false
Type=Application
Categories=System;
